<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{view/home::head}">
</head>
<body>
<nav th:replace="~{view/home::header}"></nav>
<h1 class="text-center mt-5 mb-5">Book Detail</h1>

<div class="container">
    <form action="/card/borrow" th:object="${book}">
        <input type="hidden" name="idBook" th:value="${book.id}" readonly>
        <input type="hidden" name="idMember" th:value="${idMember}">
        <div class="form-group row">
            <label for="" class="col-form-label col-2">Name: </label>
            <input th:field="*{name}" type="text" class="form-control col-7" readonly>
        </div>
        <div class="form-group row">
            <label  for="" class="col-form-label col-2">Author: </label>
            <input th:field="*{author}" type="text" class="form-control col-7" readonly>
        </div>
        <div class="form-group row">
            <label for="" class="col-form-label col-2">Description: </label>
            <input th:field="*{description}" type="text" class="form-control col-7" readonly>
        </div>
        <div class="form-group row">
            <label for="" class="col-form-label col-2">Category: </label>
            <input th:field="*{category.name}" type="text" class="form-control col-7" readonly>
        </div>
        <input style="margin-left: 700px" type="submit" th:value="Borrow" class="btn btn-outline-warning">
    </form>
</div>
</body>
</html>