<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:replace="view/layout::bootstrap"></th:block>
    <style th:replace="view/layout::style"></style>
</head>
<body>
<div th:replace="view/layout::header"></div>

<div class="content">
    <div>
        <table class="table table-striped table-dark text-center">
            <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Name</th>
                <th>Area</th>
                <th>Cost</th>
                <th>Number of floor</th>
                <th>Max people</th>
                <th>Service type</th>
                <th>Rent type</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service, state : ${serviceList}">
                <td th:text="${state.count}"></td>
                <td th:text="${service.code}"></td>
                <td th:text="${service.name}"></td>
                <td th:text="${service.area}"></td>
                <td th:text="${service.cost}"></td>
                <td th:text="${service.numberOfFloor}"></td>
                <td th:text="${service.maxPeople}"></td>
                <td th:text="${service.serviceType.name}"></td>
                <td th:text="${service.rentType.name}"></td>
                <th:block th:switch="${service.status}">
                    <td th:case="0">Still</td>
                    <td th:case="1">Hired</td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="view/layout::footer"></div>
</body>
</html>