<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:replace="view/layout::bootstrap"></th:block>
    <style th:replace="view/layout::style"></style>
</head>
<body>
<div th:replace="view/layout::header"></div>

<div class="content">
    <div>
        <table class="table table-striped table-dark text-center">
            <thead>
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Username</th>
                <th>Customer</th>
                <th>Employee</th>
                <th>Role</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, state : ${userList}">
                <td th:text="${state.count}"></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <th:block>
                    <td th:if="${user.customer}" th:text="${user.customer.name}"></td>
                    <td th:unless="${user.customer}"></td>
                </th:block>
                <th:block>
                    <td th:if="${user.employee}" th:text="${user.employee.name}"></td>
                    <td th:unless="${user.employee}"></td>
                </th:block>
                <td th:text="${user.userRoleSet}"></td>
                <td>
                    <a id="btn" th:onclick="'update('+${user.id}+')'" class="btn btn-outline-light " data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Update
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="view/layout::footer"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: black">&times;</span>
                </button>
            </div>
            <form th:action="@{/manage/user/update-role}" method="post">
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group">
                            <div class="row">
                                <label  class="col-form-label col-4">Role</label>
                                <input type="hidden" id="userId" name="userId">
                                <select name="roleId" class="form-control col-6">
                                    <option disabled>Select</option>
                                    <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}">
                                        Select
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<form action="/abc">
<!--    <input type="text">-->
</form>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function () {
        // $('.btn').click(function () {
        //     // $('#username').val($(this).val())
        //     $('#username').attr('value',$(this).val())
        // })


    })
    function update(id) {
        console.log("ok");
        $('#userId').val(id);
    }
</script>
</body>

</html>