<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blog/layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{blog/layout::headerBlog}"></header>
<div  style="font-size: 18px!important;" class="content container mt-5" th:object="${blog}" >
    <h1 class="text-center" th:text="${blog.title}"></h1>
    <p th:text="${blog.content}"></p>

    <p style="margin-left: 70%;font-size: 18px !important;">Author: <span  th:text="${blog.author}"></span></p>
</div>
<footer th:replace="~{blog/layout::footerBlog}"></footer>
</body>
</html>